*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# extras

gradle/

# Generated sources
**/generated/
**/intermediates/
**/outputs/

.idea/

# signer files
*.jks
*.keystore
keystore.properties
